<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item1</key>
	<string>Facebook google 各种github上的框架都用用</string>
	<key>item2</key>
	<string>iOS 的framework大概用法都用一下（在不断的积累过程中丰富）</string>
</dict>
</plist>
